/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
body {
    margin: 0;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif
}

nav {
    height: 100px;
    background-color: #540B51;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 20%;
}

nav ul {
    display: none;
}
nav button {
    background-color: #540B51;
    border: none;
}
header {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headsup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0 10% 10% 10%;
}
.headsup h1 {
    font-size: 2.5em;
    color: white;
    word-break: break-word;
    text-align: center;
}
.headsup p {
    color: white;
    text-align: center;
}
.yellow {
    color: #ECB12F;
}
.slackappsc {
    width: 90%;
}
.googlelogobtn {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4285F4;
    position: relative;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.googlelogobtn img {
    width: 50px;
    background-color: white;
    position: absolute;
    left: 0;
    width: 30px;
    margin-left: 5px;
}
.emailbtn {
    width: 90%;
    height: 50px;
    background-color: ivory;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.companiesimg img {
    max-width: 100px;
    max-height: 50px;
    margin-left: 5%;
    margin-right: 5%;
}
main {
    background-color: #F3EAE2;
    display: flex;
    flex-direction: column  ;
}
.trusted {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px;
}
main img {
    width: 100%;
}
main h2 {
    text-align: center;
}
main p {
    text-align: center;
    margin:0 5% 0 5%;
}
main a {
    text-decoration: none;
    color: #2E71A6;
}
main a::after {
    content: url("../images/icon-arrow-right.png");
    margin-left: 1%;
}

.teams {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.teamsbuttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.meetslackbtn {
    background-color: #540B51;
    color: white;
    width: 90vw;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.salesbtn {
    color: #540B51;
    border-color: #540B51;
    background-color: white;
    width: 90vw;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.teams ul span {
    color: #540B51;
    font-weight: bold;
    font-size: 2.5em;
}
.teams ul {
    display: flex;
    flex-direction: column;
    gap: 4em;
    list-style: none;
}
.digitalHQ {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    gap: 1em;
}
.digitalHQ h3 {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.btn1 {
    color: #540B51;
    border-color: #540B51;
    background-color: white;
    width: 90vw;
    height: 50px;
    order: 1;
    text-transform: uppercase;
    font-weight: bold;
}
.btn2 {
    background-color: #540B51;
    color: white;
    width: 90vw;
    height: 50px;
    border-color: white;
    text-transform: uppercase;
    font-weight: bold;

}
.lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
footer img {
    width: 10%;
    margin: 5%;
}
.lists ul :first-child {
    font-weight: bold;
}
.lists ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
footer {
    margin: 0 5% 0 5%;
}
footer hr {
    width: 90%;
}
.status {
    list-style: none;
    display: flex;
    flex-direction: column; 
    row-gap: 2em;
    font-weight: bold;
    height: 350px;
    margin-top: 10%;
    margin-bottom: 5%;
}
.status :nth-child(6)::before {
    content: url("../images/icon-region.png");
    margin-right: 15px;
}
.status :nth-child(7)::before {
    content: url("../images/icon-download.png");
    margin-right: 15px;
}
.status :nth-child(7) {
    color: #4285F4;
}
.socialmedia {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}
 
    